<div class="c-footer">
	<div class="c-footer__inner">
		<span class="label">{{ title }} · a pleasant view · 2026 · <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></span>
	</div>
</div>
