.card {
  position: relative;
	width: 100%;
  padding-block: var(--space-inset-m);
  padding-inline: var(--space-inset-m);
  border: var(--border-width-default) solid var(--color-border);
  border-radius: var(--border-radius-card);
}

.card--link {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  gap: var(--flow-space-m);
	width: 100%;
  padding-block: var(--space-inset-m);
  padding-inline: var(--space-inset-m);
  border: var(--border-width-default) solid var(--color-border);
  border-radius: var(--border-radius-card);
}

ol:has(.card),
ul:has(.card),
ol:has(.card--link),
ul:has(.card--link) {
	padding: 0;
	list-style: none;

	& .card {
		margin-block: var(--space-s);
	}

	& .card--link {
		margin-block: var(--space-s);
	}
}

.card--link > a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset: 0;
}
